*.DS_Store*
MidTerm3/Assignment5/ktModels/*
MidTerm3/Assignment5/ourModels/*
MidTerm3/Assignment5/ourModelsLSTM/*
MidTerm3/Assignment5/archive/
MidTerm3/Assignment5/embeddings/*
MidTerm3/Assignment5/tokenizers/*
MidTerm2/Assignment4/models/*
MidTerm2/Assignment4/*.csv
MidTerm3.zip
MidTerm3Light - Magos 588669.zip
