Assigment1/.DS_Store
.DS_Store
Assigment1/samples/*
Assignment3/archive/*
Assignment3/embeddings/*
Assignment3/__pycache__/*
Assignment3/ktModels/*
Assignment3/ourModels/*
Assignment3/ourModels2/*
Assignment3/Models/*
